In [23]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
simdcai = pd.read_csv("simdcai_out.csv", sep="|")
simdcai

,Unnamed: 0,table_name,chunk_id,column_id,column_name,column_data_type,distinct_value_count,encoding_type,vector_compression_type,size_in_bytes,point_accesses,sequential_accesses,monotonic_accesses,random_accesses,dictionary_accesses,Unnamed: 15
0,NaN,nation,0,0,n_nationkey,int,25,SIMDCAI,NULL,185,11820,84175,141915,7520,0,NaN
1,NaN,nation,0,1,n_name,string,25,Dictionary,FixedSize1ByteAligned,1153,0,342525,0,92019059,29206278,NaN
2,NaN,nation,0,2,n_regionkey,int,5,SIMDCAI,NULL,169,0,479075,0,0,0,NaN
3,NaN,nation,0,3,n_comment,string,25,Dictionary,FixedSize1ByteAligned,3035,0,25,0,0,25,NaN
4,NaN,part,0,0,p_partkey,int,65535,SIMDCAI,NULL,131225,0,165541410,21812299,10498144,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1813,NaN,customer,2,6,c_mktsegment,string,5,Dictionary,FixedSize1ByteAligned,19258,0,12607380,0,0,22255,NaN
1814,NaN,customer,2,7,c_comment,string,18930,Dictionary,FixedSize2ByteAligned,2187310,0,18930,0,1868908,18930,NaN
1815,NaN,region,0,0,r_regionkey,int,5,SIMDCAI,NULL,169,19160,15,0,0,0,NaN
1816,NaN,region,0,1,r_name,string,5,Dictionary,FixedSize1ByteAligned,333,0,95805,0,0,95805,NaN
1817,NaN,region,0,2,r_comment,string,5,Dictionary,FixedSize1ByteAligned,668,0,5,0,0,5,NaN

In [4]:
dictionary = pd.read_csv("dictionary_out.csv", sep="|")
dictionary

,Unnamed: 0,table_name,chunk_id,column_id,column_name,column_data_type,distinct_value_count,encoding_type,vector_compression_type,size_in_bytes,point_accesses,sequential_accesses,monotonic_accesses,random_accesses,dictionary_accesses,Unnamed: 15
0,NaN,nation,0,0,n_nationkey,int,25,Dictionary,FixedSize1ByteAligned,221,17183,87625,218360,6608,323168,NaN
1,NaN,nation,0,1,n_name,string,25,Dictionary,FixedSize1ByteAligned,1153,0,470900,0,93066942,32240604,NaN
2,NaN,nation,0,2,n_regionkey,int,5,Dictionary,FixedSize1ByteAligned,141,0,732150,0,0,732150,NaN
3,NaN,nation,0,3,n_comment,string,25,Dictionary,FixedSize1ByteAligned,3035,0,25,0,0,25,NaN
4,NaN,part,0,0,p_partkey,int,65535,Dictionary,FixedSize2ByteAligned,393306,0,164951595,25635312,9958529,190586907,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1813,NaN,customer,2,6,c_mktsegment,string,5,Dictionary,FixedSize1ByteAligned,19258,0,11774460,0,0,22035,NaN
1814,NaN,customer,2,7,c_comment,string,18930,Dictionary,FixedSize2ByteAligned,2187310,0,18930,0,1989316,18930,NaN
1815,NaN,region,0,0,r_regionkey,int,5,Dictionary,FixedSize1ByteAligned,121,29285,5,0,0,29290,NaN
1816,NaN,region,0,1,r_name,string,5,Dictionary,FixedSize1ByteAligned,333,0,146430,0,0,146430,NaN
1817,NaN,region,0,2,r_comment,string,5,Dictionary,FixedSize1ByteAligned,668,0,5,0,0,5,NaN

In [18]:
cols_with_simdcai_flags = simdcai["encoding_type"].str.match(".*SIMDCAI.*")
cols_with_simdcai = simdcai[cols_with_simdcai_flags]
cols_with_simdcai

,Unnamed: 0,table_name,chunk_id,column_id,column_name,column_data_type,distinct_value_count,encoding_type,vector_compression_type,size_in_bytes,point_accesses,sequential_accesses,monotonic_accesses,random_accesses,dictionary_accesses,Unnamed: 15
0,NaN,nation,0,0,n_nationkey,int,25,SIMDCAI,NULL,185,11820,84175,141915,7520,0,NaN
2,NaN,nation,0,2,n_regionkey,int,5,SIMDCAI,NULL,169,0,479075,0,0,0,NaN
4,NaN,part,0,0,p_partkey,int,65535,SIMDCAI,NULL,131225,0,165541410,21812299,10498144,0,NaN
9,NaN,part,0,5,p_size,int,50,SIMDCAI,NULL,49305,1260,593157285,72485844,5924016,0,NaN
13,NaN,part,1,0,p_partkey,int,65535,SIMDCAI,NULL,131225,0,165541410,21801590,10554349,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1799,NaN,customer,1,0,c_custkey,int,65535,SIMDCAI,NULL,131225,0,50199810,40087099,103256739,0,NaN
1802,NaN,customer,1,3,c_nationkey,int,25,SIMDCAI,NULL,41113,0,145815375,4928035,13969828,0,NaN
1807,NaN,customer,2,0,c_custkey,int,18930,SIMDCAI,NULL,35657,0,14500380,11568333,29789818,0,NaN
1810,NaN,customer,2,3,c_nationkey,int,25,SIMDCAI,NULL,11993,0,42119250,1427498,4038984,0,NaN
1815,NaN,region,0,0,r_regionkey,int,5,SIMDCAI,NULL,169,19160,15,0,0,0,NaN

In [19]:
cols_with_simdcai_dict_encoded = dictionary[cols_with_simdcai_flags]
cols_with_simdcai_dict_encoded

,Unnamed: 0,table_name,chunk_id,column_id,column_name,column_data_type,distinct_value_count,encoding_type,vector_compression_type,size_in_bytes,point_accesses,sequential_accesses,monotonic_accesses,random_accesses,dictionary_accesses,Unnamed: 15
0,NaN,nation,0,0,n_nationkey,int,25,Dictionary,FixedSize1ByteAligned,221,17183,87625,218360,6608,323168,NaN
2,NaN,nation,0,2,n_regionkey,int,5,Dictionary,FixedSize1ByteAligned,141,0,732150,0,0,732150,NaN
4,NaN,part,0,0,p_partkey,int,65535,Dictionary,FixedSize2ByteAligned,393306,0,164951595,25635312,9958529,190586907,NaN
9,NaN,part,0,5,p_size,int,50,Dictionary,FixedSize1ByteAligned,65831,1017,927582390,77724260,6364410,76796281,NaN
13,NaN,part,1,0,p_partkey,int,65535,Dictionary,FixedSize2ByteAligned,393306,0,164951595,25628743,9962211,190580338,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1799,NaN,customer,1,0,c_custkey,int,65535,Dictionary,FixedSize2ByteAligned,393306,0,58260615,35939423,127714181,94200038,NaN
1802,NaN,customer,1,3,c_nationkey,int,25,Dictionary,FixedSize1ByteAligned,65731,0,130414650,4331529,18638291,134746179,NaN
1807,NaN,customer,2,0,c_custkey,int,18930,Dictionary,FixedSize2ByteAligned,113676,0,16828770,10360710,36858397,27189480,NaN
1810,NaN,customer,2,3,c_nationkey,int,25,Dictionary,FixedSize1ByteAligned,19126,0,37670700,1250161,5386165,38920861,NaN
1815,NaN,region,0,0,r_regionkey,int,5,Dictionary,FixedSize1ByteAligned,121,29285,5,0,0,29290,NaN

In [28]:
size1 = cols_with_simdcai["size_in_bytes"].sum()
size2 = cols_with_simdcai_dict_encoded["size_in_bytes"].sum()
print(size1)
print(size2)
size1/size2

56482311
109498396

0.5158277478329454

In [31]:
int_cols = dictionary[dictionary["column_data_type"].str.match(".*int.*")]
int_cols["size_in_bytes"].sum() / dictionary["size_in_bytes"].sum()

0.11353100856895045

In [33]:
dictionary["column_data_type"].unique()

array(['             int', '          string', '           float'],
      dtype=object)

In [34]:
simdcai["size_in_bytes"].sum() / dictionary["size_in_bytes"].sum()

0.9450314358903741

In [68]:
import pandas as pd
import matplotlib.pyplot as plt

dictionary = pd.read_csv("sizes_none.txt", sep="|")
dict_size = dictionary["size_in_bytes"].sum()
print("dictionary size", dict_size)

for name in [("fsba", "FixedSize"), ("SIMDBP", "SimdBp128"), ("turbopfor", "TurboPForBitpacking")]:
    runtimes = pd.read_csv("sizes_" + name[0] + ".txt", sep="|")
    s = runtimes["size_in_bytes"].sum()

    #print(runtimes)


    #cols_with_name_flags = simdcai["encoding_type"].str.match(".*" + name + ".*")
    cols_with_name_flags = runtimes["vector_compression_type"].str.match(".*" + name[1] + ".*")
    cols_with_name = runtimes[cols_with_name_flags]    

    cols_with_name_dict_encoded = dictionary[cols_with_name_flags]

    size1 = cols_with_name["size_in_bytes"].sum()
    size2 = cols_with_name_dict_encoded["size_in_bytes"].sum()


    print(name, "size:", s)
    print("\ttotal percentage:", s / dict_size, "\n\tencoded col percentage:", size2 / dict_size, "\n\tencoded col compression:", size1 / size2)

dictionary size 964591082
('fsba', 'FixedSize') size: 964591082
	total percentage: 1.0
	encoded col percentage: 1.0
	encoded col compression: 1.0
('SIMDBP', 'SimdBp128') size: 920498972
	total percentage: 0.9542893244372749
	encoded col percentage: 1.0
	encoded col compression: 0.9542893244372749
('turbopfor', 'TurboPForBitpacking') size: 924574516
	total percentage: 0.9585144765002088
	encoded col percentage: 1.0
	encoded col compression: 0.9585144765002088

In [82]:
import seaborn as sns
sns.set(rc={'figure.figsize':(30,15)})


d = dictionary[["    column_name",'table_name','size_in_bytes']]
#d['id'] = d["    column_name"].map(str) + d.table_name
#print(d)
print(d.table_name)

d = d.groupby(["    column_name",'table_name'])


plot = sns.barplot(x="size_in_bytes",y="    column_name", data=d)

m = d["size_in_bytes"].max()
n = len(d)

for i in range(len(d)):
    plot.text(y=(i / n), x=(d["size_in_bytes"].values[i] / m), s=d["column_name"].values[i], size='medium', color='black', transform=plot.transAxes)


#plot.set_xticklabels(plot.get_xticklabels(),rotation=90)
#plot.set_yscale("log")

0           nation
1           nation
2           nation
3           nation
4             part
           ...
1813      customer
1814      customer
1815        region
1816        region
1817        region
Name: table_name, Length: 1818, dtype: object

AttributeError: 'DataFrameGroupBy' object has no attribute 'get'

0           n_nationkey
1                n_name
2           n_regionkey
3             n_comment
4             p_partkey
             ...
1813       c_mktsegment
1814          c_comment
1815        r_regionkey
1816             r_name
1817          r_comment
Name:     column_name, Length: 1818, dtype: object

In [61]:
dictionary[dictionary["    column_name"] == "      o_comment"]

,Unnamed: 0,table_name,chunk_id,column_id,column_name,column_data_type,distinct_value_count,encoding_type,vector_compression_type,size_in_bytes,point_accesses,sequential_accesses,monotonic_accesses,random_accesses,dictionary_accesses,Unnamed: 15
1585,NaN,orders,0,8,o_comment,string,65490,Dictionary,FixedSize2ByteAligned,6005731,0,7339920,0,0,65535,NaN
1594,NaN,orders,1,8,o_comment,string,65490,Dictionary,FixedSize2ByteAligned,5989719,0,7339920,0,0,65535,NaN
1603,NaN,orders,2,8,o_comment,string,65495,Dictionary,FixedSize2ByteAligned,5997404,0,7339920,0,0,65535,NaN
1612,NaN,orders,3,8,o_comment,string,65485,Dictionary,FixedSize2ByteAligned,5993746,0,7339920,0,0,65535,NaN
1621,NaN,orders,4,8,o_comment,string,65481,Dictionary,FixedSize2ByteAligned,5996456,0,7339920,0,0,65535,NaN
1630,NaN,orders,5,8,o_comment,string,65498,Dictionary,FixedSize2ByteAligned,5998846,0,7339920,0,0,65535,NaN
1639,NaN,orders,6,8,o_comment,string,65492,Dictionary,FixedSize2ByteAligned,5998921,0,7339920,0,0,65535,NaN
1648,NaN,orders,7,8,o_comment,string,65487,Dictionary,FixedSize2ByteAligned,5994723,0,7339920,0,0,65535,NaN
1657,NaN,orders,8,8,o_comment,string,65498,Dictionary,FixedSize2ByteAligned,5994417,0,7339920,0,0,65535,NaN
1666,NaN,orders,9,8,o_comment,string,65486,Dictionary,FixedSize2ByteAligned,5999613,0,7339920,0,0,65535,NaN
1675,NaN,orders,10,8,o_comment,string,65489,Dictionary,FixedSize2ByteAligned,5992790,0,7339920,0,0,65535,NaN
1684,NaN,orders,11,8,o_comment,string,65491,Dictionary,FixedSize2ByteAligned,5994411,0,7339920,0,0,65535,NaN
1693,NaN,orders,12,8,o_comment,string,65478,Dictionary,FixedSize2ByteAligned,5988391,0,7339920,0,0,65535,NaN
1702,NaN,orders,13,8,o_comment,string,65490,Dictionary,FixedSize2ByteAligned,5997207,0,7339920,0,0,65535,NaN
1711,NaN,orders,14,8,o_comment,string,65481,Dictionary,FixedSize2ByteAligned,5988121,0,7339920,0,0,65535,NaN
1720,NaN,orders,15,8,o_comment,string,65486,Dictionary,FixedSize2ByteAligned,5987207,0,7339920,0,0,65535,NaN
1729,NaN,orders,16,8,o_comment,string,65482,Dictionary,FixedSize2ByteAligned,5993156,0,7339920,0,0,65535,NaN
1738,NaN,orders,17,8,o_comment,string,65494,Dictionary,FixedSize2ByteAligned,5993833,0,7339920,0,0,65535,NaN
1747,NaN,orders,18,8,o_comment,string,65489,Dictionary,FixedSize2ByteAligned,5989176,0,7339920,0,0,65535,NaN
1756,NaN,orders,19,8,o_comment,string,65481,Dictionary,FixedSize2ByteAligned,5989165,0,7339920,0,0,65535,NaN
1765,NaN,orders,20,8,o_comment,string,65491,Dictionary,FixedSize2ByteAligned,5998448,0,7339920,0,0,65535,NaN
1774,NaN,orders,21,8,o_comment,string,65484,Dictionary,FixedSize2ByteAligned,5997166,0,7339920,0,0,65535,NaN
1783,NaN,orders,22,8,o_comment,string,58185,Dictionary,FixedSize2ByteAligned,5323909,0,6521760,0,0,58230,NaN