In [20]:
from pathlib import Path
from typing import List
import pandas as pd
from pandas import DataFrame

import seaborn as sns

In [21]:
SCHEMA: int = 1
TABLE_NAME: int = 2
COLUMN_NAME: int = 4
DATA_TYPE: int = 7

SAP_data_path: Path = Path("../data/data.csv")
SAP_data: DataFrame = pd.read_csv(SAP_data_path, header=None, sep=",", error_bad_lines=False)

b'Skipping line 2937727: expected 37 fields, saw 38\n'
b'Skipping line 3073097: expected 37 fields, saw 39\n'
b'Skipping line 3084376: expected 37 fields, saw 39\nSkipping line 3087083: expected 37 fields, saw 39\n'
b'Skipping line 3100565: expected 37 fields, saw 39\nSkipping line 3103761: expected 37 fields, saw 39\nSkipping line 3103764: expected 37 fields, saw 39\n'
/Users/linusheinzl/Documents/Semester2/DatabaseSystems/column-compression/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,14,25,30,35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [22]:
filtered_by_scheme: DataFrame = SAP_data[SAP_data[SCHEMA] == "SAPISP"]
grouped_by_column: DataFrame = filtered_by_scheme\
    .groupby([TABLE_NAME, DATA_TYPE, COLUMN_NAME], as_index=False)[8].count()

In [23]:
grouped_by_data_type: DataFrame = grouped_by_column.groupby([DATA_TYPE], as_index=False)[8].count()

In [24]:
grouped_by_data_type

            7        8
0      BIGINT      137
1        BLOB     1329
2        CHAR        1
3     DECIMAL   217602
4      DOUBLE     4269
5     INTEGER    32899
6       NCLOB     3617
7    NVARCHAR  1811333
8    SMALLINT     9804
9   TIMESTAMP        1
10    TINYINT       46
11  VARBINARY    19769
12    VARCHAR      126