In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
simdcai = pd.read_csv("simdcai_out.csv", sep="|")
simdcai

,Unnamed: 0,table_name,chunk_id,column_id,column_name,column_data_type,distinct_value_count,encoding_type,vector_compression_type,size_in_bytes,point_accesses,sequential_accesses,monotonic_accesses,random_accesses,dictionary_accesses,Unnamed: 15
0,NaN,nation,0,0,n_nationkey,int,25,SIMDCAI,NULL,185,11820,84175,141915,7520,0,NaN
1,NaN,nation,0,1,n_name,string,25,Dictionary,FixedSize1ByteAligned,1153,0,342525,0,92019059,29206278,NaN
2,NaN,nation,0,2,n_regionkey,int,5,SIMDCAI,NULL,169,0,479075,0,0,0,NaN
3,NaN,nation,0,3,n_comment,string,25,Dictionary,FixedSize1ByteAligned,3035,0,25,0,0,25,NaN
4,NaN,part,0,0,p_partkey,int,65535,SIMDCAI,NULL,131225,0,165541410,21812299,10498144,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1813,NaN,customer,2,6,c_mktsegment,string,5,Dictionary,FixedSize1ByteAligned,19258,0,12607380,0,0,22255,NaN
1814,NaN,customer,2,7,c_comment,string,18930,Dictionary,FixedSize2ByteAligned,2187310,0,18930,0,1868908,18930,NaN
1815,NaN,region,0,0,r_regionkey,int,5,SIMDCAI,NULL,169,19160,15,0,0,0,NaN
1816,NaN,region,0,1,r_name,string,5,Dictionary,FixedSize1ByteAligned,333,0,95805,0,0,95805,NaN
1817,NaN,region,0,2,r_comment,string,5,Dictionary,FixedSize1ByteAligned,668,0,5,0,0,5,NaN

In [8]:
dictionary = pd.read_csv("dictionary_out.csv", sep="|")
dictionary

,Unnamed: 0,table_name,chunk_id,column_id,column_name,column_data_type,distinct_value_count,encoding_type,vector_compression_type,size_in_bytes,point_accesses,sequential_accesses,monotonic_accesses,random_accesses,dictionary_accesses,Unnamed: 15
0,NaN,nation,0,0,n_nationkey,int,25,Dictionary,FixedSize1ByteAligned,221,17183,87625,218360,6608,323168,NaN
1,NaN,nation,0,1,n_name,string,25,Dictionary,FixedSize1ByteAligned,1153,0,470900,0,93066942,32240604,NaN
2,NaN,nation,0,2,n_regionkey,int,5,Dictionary,FixedSize1ByteAligned,141,0,732150,0,0,732150,NaN
3,NaN,nation,0,3,n_comment,string,25,Dictionary,FixedSize1ByteAligned,3035,0,25,0,0,25,NaN
4,NaN,part,0,0,p_partkey,int,65535,Dictionary,FixedSize2ByteAligned,393306,0,164951595,25635312,9958529,190586907,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1813,NaN,customer,2,6,c_mktsegment,string,5,Dictionary,FixedSize1ByteAligned,19258,0,11774460,0,0,22035,NaN
1814,NaN,customer,2,7,c_comment,string,18930,Dictionary,FixedSize2ByteAligned,2187310,0,18930,0,1989316,18930,NaN
1815,NaN,region,0,0,r_regionkey,int,5,Dictionary,FixedSize1ByteAligned,121,29285,5,0,0,29290,NaN
1816,NaN,region,0,1,r_name,string,5,Dictionary,FixedSize1ByteAligned,333,0,146430,0,0,146430,NaN
1817,NaN,region,0,2,r_comment,string,5,Dictionary,FixedSize1ByteAligned,668,0,5,0,0,5,NaN

In [9]:
turbopfor = pd.read_csv("sizes_turboPFOR.txt", sep="|")
turbopfor

,Unnamed: 0,table_name,chunk_id,column_id,column_name,column_data_type,distinct_value_count,encoding_type,vector_compression_type,size_in_bytes,point_accesses,sequential_accesses,monotonic_accesses,random_accesses,dictionary_accesses,Unnamed: 15
0,NaN,nation,0,0,n_nationkey,int,25,TurboPFOR,NULL,523,8598,66950,88850,5872,0,NaN
1,NaN,nation,0,1,n_name,string,25,Dictionary,FixedSize1ByteAligned,1153,0,251675,0,91546861,40496829,NaN
2,NaN,nation,0,2,n_regionkey,int,5,TurboPFOR,NULL,516,0,299675,0,0,0,NaN
3,NaN,nation,0,3,n_comment,string,25,Dictionary,FixedSize1ByteAligned,3035,0,25,0,0,25,NaN
4,NaN,part,0,0,p_partkey,int,65535,TurboPFOR,NULL,124918,0,155383485,16331237,4904223,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1813,NaN,customer,2,6,c_mktsegment,string,5,Dictionary,FixedSize1ByteAligned,19258,0,10165410,0,0,21610,NaN
1814,NaN,customer,2,7,c_comment,string,18930,Dictionary,FixedSize2ByteAligned,2187310,0,18930,0,1786874,18930,NaN
1815,NaN,region,0,0,r_regionkey,int,5,TurboPFOR,NULL,510,11984,15,0,0,0,NaN
1816,NaN,region,0,1,r_name,string,5,Dictionary,FixedSize1ByteAligned,333,0,59925,0,0,59925,NaN
1817,NaN,region,0,2,r_comment,string,5,Dictionary,FixedSize1ByteAligned,668,0,5,0,0,5,NaN

In [18]:
cols_with_simdcai_flags = simdcai["encoding_type"].str.match(".*SIMDCAI.*")
cols_with_simdcai = simdcai[cols_with_simdcai_flags]

cols_with_tp_flags = turbopfor["encoding_type"].str.match(".*Turbo.*")
cols_with_tp = turbopfor[cols_with_tp_flags]

cols_with_simdcai

,Unnamed: 0,table_name,chunk_id,column_id,column_name,column_data_type,distinct_value_count,encoding_type,vector_compression_type,size_in_bytes,point_accesses,sequential_accesses,monotonic_accesses,random_accesses,dictionary_accesses,Unnamed: 15
0,NaN,nation,0,0,n_nationkey,int,25,SIMDCAI,NULL,185,11820,84175,141915,7520,0,NaN
2,NaN,nation,0,2,n_regionkey,int,5,SIMDCAI,NULL,169,0,479075,0,0,0,NaN
4,NaN,part,0,0,p_partkey,int,65535,SIMDCAI,NULL,131225,0,165541410,21812299,10498144,0,NaN
9,NaN,part,0,5,p_size,int,50,SIMDCAI,NULL,49305,1260,593157285,72485844,5924016,0,NaN
13,NaN,part,1,0,p_partkey,int,65535,SIMDCAI,NULL,131225,0,165541410,21801590,10554349,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1799,NaN,customer,1,0,c_custkey,int,65535,SIMDCAI,NULL,131225,0,50199810,40087099,103256739,0,NaN
1802,NaN,customer,1,3,c_nationkey,int,25,SIMDCAI,NULL,41113,0,145815375,4928035,13969828,0,NaN
1807,NaN,customer,2,0,c_custkey,int,18930,SIMDCAI,NULL,35657,0,14500380,11568333,29789818,0,NaN
1810,NaN,customer,2,3,c_nationkey,int,25,SIMDCAI,NULL,11993,0,42119250,1427498,4038984,0,NaN
1815,NaN,region,0,0,r_regionkey,int,5,SIMDCAI,NULL,169,19160,15,0,0,0,NaN

In [19]:
cols_with_simdcai_dict_encoded = dictionary[cols_with_simdcai_flags]

cols_with_tp_dict_encoded = dictionary[cols_with_tp_flags]

cols_with_simdcai_dict_encoded

,Unnamed: 0,table_name,chunk_id,column_id,column_name,column_data_type,distinct_value_count,encoding_type,vector_compression_type,size_in_bytes,point_accesses,sequential_accesses,monotonic_accesses,random_accesses,dictionary_accesses,Unnamed: 15
0,NaN,nation,0,0,n_nationkey,int,25,Dictionary,FixedSize1ByteAligned,221,17183,87625,218360,6608,323168,NaN
2,NaN,nation,0,2,n_regionkey,int,5,Dictionary,FixedSize1ByteAligned,141,0,732150,0,0,732150,NaN
4,NaN,part,0,0,p_partkey,int,65535,Dictionary,FixedSize2ByteAligned,393306,0,164951595,25635312,9958529,190586907,NaN
9,NaN,part,0,5,p_size,int,50,Dictionary,FixedSize1ByteAligned,65831,1017,927582390,77724260,6364410,76796281,NaN
13,NaN,part,1,0,p_partkey,int,65535,Dictionary,FixedSize2ByteAligned,393306,0,164951595,25628743,9962211,190580338,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1799,NaN,customer,1,0,c_custkey,int,65535,Dictionary,FixedSize2ByteAligned,393306,0,58260615,35939423,127714181,94200038,NaN
1802,NaN,customer,1,3,c_nationkey,int,25,Dictionary,FixedSize1ByteAligned,65731,0,130414650,4331529,18638291,134746179,NaN
1807,NaN,customer,2,0,c_custkey,int,18930,Dictionary,FixedSize2ByteAligned,113676,0,16828770,10360710,36858397,27189480,NaN
1810,NaN,customer,2,3,c_nationkey,int,25,Dictionary,FixedSize1ByteAligned,19126,0,37670700,1250161,5386165,38920861,NaN
1815,NaN,region,0,0,r_regionkey,int,5,Dictionary,FixedSize1ByteAligned,121,29285,5,0,0,29290,NaN

In [20]:
size1 = cols_with_simdcai["size_in_bytes"].sum()
size2 = cols_with_simdcai_dict_encoded["size_in_bytes"].sum()
size3 = cols_with_tp["size_in_bytes"].sum()

print(size1)
print(size2)
print(size3)


print(size1/size2)
print(size3/size2)

56482311
109498396
56637286
0.5158277478329454
0.5172430653687383

In [13]:
int_cols = dictionary[dictionary["column_data_type"].str.match(".*int.*")]
int_cols["size_in_bytes"].sum() / dictionary["size_in_bytes"].sum()

0.11353100856895045

In [14]:
dictionary["column_data_type"].unique()

array(['             int', '          string', '           float'],
      dtype=object)

In [15]:
simdcai["size_in_bytes"].sum() / dictionary["size_in_bytes"].sum()

0.9450314358903741

In [21]:
turbopfor["size_in_bytes"].sum() / dictionary["size_in_bytes"].sum()

0.945192118317658